!!!
%html
	%head
		%title= "Eclectic Expressions | #{@title}"
		%meta{:content => 'FfQg9gS8PaogigCqzWm5hKS-3QijSM9vcTRZamEyVbQ', :name => 'google-site-verification'}
		%meta{:content => 'macram&#233 jewelry, online store, homemade jewelry, hemp, hemp jewelry', :name => 'keywords'}
		= stylesheet_link_tag "application", :media => "all"
		= javascript_include_tag "application" 
		= csrf_meta_tag
		= render 'layouts/analytics'
		<meta name="google-site-verification" content="Zz0NgHEcTE2zZ1h5nXhEQ30UMvpfsXIycYaeVclxbUc" />
	%body
		#container
			
			= render 'layouts/header'
			= yield
			= render 'layouts/footer'