!!!
%html
	%head
		%title= "Eclectic Expressions | #{@title}"
		%meta{:content => 'FfQg9gS8PaogigCqzWm5hKS-3QijSM9vcTRZamEyVbQ', :name => 'google-site-verification'}
		%meta{:content => 'macram&#233 jewelry, online store, homemade jewelry, hemp, hemp jewelry', :name => 'keywords'}
		= stylesheet_link_tag "application", :media => "all"
		= javascript_include_tag "application" 
		= csrf_meta_tag
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-36081509-1']);
			_gaq.push(['_trackPageview']);
			(function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	<meta name="" content="FfQg9gS8PaogigCqzWm5hKS-3QijSM9vcTRZamEyVbQ" />
	%body
		#container
			
			= render 'layouts/header'
			= yield
			= render 'layouts/footer'