= image_tag 'pics/IMG_6645.JPG', :id => 'pic_1'
= image_tag 'pics/IMG_6685.JPG', :id => 'pic_2'
= image_tag 'pics/IMG_6686.JPG', :id => 'pic_3'
= image_tag 'pics/IMG_6687.JPG', :id => 'pic_4'

#success= flash[:notice]

= image_tag 'pics/IMG_6688.JPG', :id => 'pic_5'
= image_tag 'pics/IMG_6689.JPG', :id => 'pic_6'
= image_tag 'pics/IMG_6692.JPG', :id => 'pic_7'
= image_tag 'pics/IMG_6693.JPG', :id => 'pic_8'